<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FrontEnd</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body id="dashboard-body">
    <app-header></app-header>

    <div id="container-div" class="container-fluid">
        <div class="row">
            <div class="col-md-3 style_sidebar">
                <app-sidebar [listItems]=secondSideBar.listItems [title]=secondSideBar.title></app-sidebar>
            </div>
            <div class="col-md-9">
                <div class="row slide-banner">
                    <app-slide-banner class="slide-banner"></app-slide-banner>
                </div>
                <div class="content" *ngIf="products">
                    <div *ngFor="let product of products">
                        <div app-product-item [product]="product">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <button href="#" type="button" (click)="getProducts()"
                        class="custom-button col-lg-3 btn btn-link btn-outline-secondary my-lg-4 px-3">
                        Xem thêm
                    </button>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-9">
        <app-footer></app-footer>
    </div>
</body>


</html>